<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartcity.sser.android.smartcityadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/smart_city_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smart_city_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StaniceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".StaniceActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.sser.android.smartcityadmin.StaniceActivity" />
        </activity>
        <activity android:name=".detailActivities.MeteoroloskaStanicaActivity"
            android:parentActivityName=".DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.sser.android.smartcityadmin.DetailsActivity" />
        </activity>
        <activity android:name=".detailActivities.KvalitetaZrakaActivity"
            android:parentActivityName=".DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.sser.android.smartcityadmin.DetailsActivity" />
        </activity>
        <activity android:name=".detailActivities.ParkingActivity"
            android:parentActivityName=".DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.sser.android.smartcityadmin.DetailsActivity" />
        </activity>
        <activity android:name=".detailActivities.RasvjetaActivity"
            android:parentActivityName=".DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.sser.android.smartcityadmin.DetailsActivity" />
        </activity>
        <activity android:name=".detailActivities.KameraActivity"
            android:parentActivityName=".DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.sser.android.smartcityadmin.DetailsActivity" />
        </activity>
        <activity android:name=".detailActivities.ParkingTicketActivity"
            android:parentActivityName=".DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartcity.sser.android.smartcityadmin.DetailsActivity" />
        </activity>
    </application>

</manifest>